<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRUD - NODEJS</title>
  </head>
  <body>
    <h2>Register</h2>
    <form class="" action="/show" method="post">
      <input type="text" name="name" placeholder="Nome" value="">
      <input type="text" name="surname" placeholder="Sobrenome" value="">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
